.header {
    grid-area: h;
    background: rgba(45,253,86,0.8);
    background: linear-gradient(0deg, rgba(45,253,86,0.9920343137254902)   38%, rgba(34,193,195,1) 100%);
    border-bottom-left-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 10px;
  }
  
  .header img {
      position: relative;
    width: 81px;
    border-radius: 50%;
      left: -2px;
  }

@keyframes myanimation {
    0% {transform:rotateZ(0deg);}
    100% {transform:rotateZ(360deg);}
}

 .header img {
    animation: myanimation 7s infinite alternate linear;
}