
.friends {
    display: grid;
    /*display: flex;*/
    grid-template-columns: 5fr 5fr;
    padding: 10px;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/

}

.friendInfo {
    display: block;
    padding-left: 10px;
    border-left: 1px solid #000;
}

.friendInfo h4{

}

.friendsItem img {
    height: 30px;
    max-width: 30px;
    margin-right: 5px;
    margin-top: 4px;
    border-radius: 50%;
}

.friendsItem a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px;
}

.friendsItem a:hover {
    color: rgb(34,193,195);
    background-color: #fff;
    border-radius: 3px;
}

