.dialogs {
    display: grid;
    grid-template-columns: 5fr 5fr;
}

.dialogsItem {
    padding: 10px;
}

.messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.messageItem {
    padding: 10px;
}

.messageInput {
    align-items: flex-end;
}

textarea {
    resize: none;
}