.nav {
    grid-area: n;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 38%, rgba(45,253,86,0.9920343137254902) 100%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

li {
    width: 100px;  
    list-style: none;
    margin-bottom: 5px;
    text-align: center;
  }

li:last-child {
    margin-top: 20px;
}
  
li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 2px 3px;
  transition: 0.6s ease;
}

a:hover, a.activeLink {
  transform: translate(3px, -8px) skew(-25deg, 0deg);
  box-shadow: -4px 5px 5px 1px rgba(148,242,178,1);
  color: rgb(34,193,195);
  background-color: #fff;
  border-radius: 3px;
}

/*a.activeLink {*/
/*    transform: translate(3px, -8px) skew(-25deg, 0deg);*/
/*    box-shadow: -4px 5px 5px 1px rgba(148,242,178,1);*/
/*    color: rgb(34,193,195);*/
/*    background-color: #fff;*/
/*    border-radius: 3px;*/
/*}*/
